# .gitignore
#
# Generated content package files. Source and lockfile remain tracked.
#
# Authors:
#     Dreamwidth contributors
#
# Copyright (c) 2026 by Dreamwidth Studios, LLC.
#
# This program is free software; you may redistribute it and/or modify it under
# the same terms as Perl itself. For a copy of the license, please reference
# 'perldoc perlartistic' or 'perldoc perlgpl'.
node_modules/
dist/
artifacts/
test-results/
playwright-report/
