[%- CALL dw.active_resource_group("foundation") -%]
[%- sections.title = dw.ml('entryform.maintainer') -%]
<div class="row"><div class="large-12 columns">
<form method="post" action="[% action | html %]" class="entry-maintainer-form">[% dw.form_auth() %]
[% IF adult_content_enabled %]<label>[% dw.ml('entryform.adultcontent.maintainer') %]<select name="prop_adult_content_maintainer"><option value="">[% dw.ml('entryform.adultcontent.poster', setting=dw.ml('entryform.adultcontent.' _ (props.adult_content || 'default'))) %]</option><option value="none"[% ' selected' IF props.adult_content_maintainer == 'none' %]>[% dw.ml('entryform.adultcontent.none') %]</option><option value="concepts"[% ' selected' IF props.adult_content_maintainer == 'concepts' %]>[% dw.ml('entryform.adultcontent.concepts') %]</option><option value="explicit"[% ' selected' IF props.adult_content_maintainer == 'explicit' %]>[% dw.ml('entryform.adultcontent.explicit') %]</option></select></label><label>[% dw.ml('entryform.adultcontentreason.maintainer') %]<input maxlength="255" name="prop_adult_content_maintainer_reason" value="[% props.adult_content_maintainer_reason | html %]"></label>[% END %]
[% UNLESS props.opt_nocomments %][% form.checkbox(name='prop_opt_nocomments_maintainer', value='1', checked=props.opt_nocomments_maintainer, label=dw.ml('entryform.comment.disable')) %][% END %]
[% form.submit(name='action:savemaintainer', value=dw.ml('entryform.save.maintainer'), class='button') %]</form></div></div>
